/*  Main.css
    Friday, 21 August, 2015
    Dynamic Site
    Alexander Rhett Crammer  */

/* Structure */
body {
  background-color: #272727;
}

.container {
  margin: 1% auto;
  width: 80%;
}

/* Buttons */
.buttons {
  text-align: center;
}

button {
  background-color: #6565F3;
  border: 3px solid #9A9AFF;
  color: white;
  cursor: pointer;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 100;
  letter-spacing: 0.75px;
  margin: 1%;
  outline: none;
  padding: 2.5% 5%;
  transition: background-color 175ms, border-color 175ms, color 175ms;
}

button:hover {
  background-color: #8D8DF5;
  border: 3px solid #ADADFF;
  /* Webkit */
  -webkit-animation: buttonPulsation 1s infinite alternate;
}

button:active {
  background-color: #303075;
  border-color: #303075;
  color: #B5B5B5;
  transition: background-color 125ms, border-color 125ms, color 125ms;
  /* Webkit */
  -webkit-animation: none;
}

/* Button Pulsation in Webkit Browsers; This works on Windows but it didn't on my Mac */
@-webkit-keyframes buttonPulsation {
  0% {
    background-color: #7474F9;
    border-color: #ADADFF;
  }
  50% {
    background-color: #8D8DF5;
  }
  100% {
    background-color: #7474F9;
    border-color: #ADADFF;
  }
}
