/*  Main.css
    Friday, 21 August, 2015
    Dynamic Site
    Alexander Rhett Crammer  */

/* TODO: Add fonts */

/* Master Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Structure */
body {
  background-color: #151515;
}

.container {
  margin: 1% auto;
  width: 80%;
}

/* Content */
p {
  color: white;
  font-family: "Source Sans Pro";
  font-weight: 100;
  line-height: 185%;
  letter-spacing: 0.5px;
}

/* Buttons */
.buttons {
  text-align: center;
}

button {
  background-color: #6565F3;
  border: 3px solid #9A9AFF;
  color: white;
  cursor: pointer;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 100;
  letter-spacing: 0.75px;
  margin: 1% 0.25%;
  outline: none;
  padding: 1.5% 2.5%;
  transition: background-color 175ms, border-color 175ms, color 175ms;
}

button:hover {
  background-color: #8D8DF5;
  border: 3px solid #ADADFF;
  /* Webkit */
  -webkit-animation: buttonPulsation 1s infinite alternate;
}

button:active {
  background-color: #303075;
  border-color: #303075;
  color: #B5B5B5;
  transition: background-color 175ms, border-color 175ms, color 175ms;
  /* Webkit */
  -webkit-animation: none;
}

/* Fonts */
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../Fonts/SourceSansPro-Light.eot');
  src: url('../Fonts/SourceSansPro-Lighteot?#iefix') format('embedded-opentype'),
       url('../Fonts/SourceSansPro-Light.woff2') format('woff2'),
       url('../Fonts/SourceSansPro-Light.woff') format('woff'),
       url('../Fonts/SourceSansPro-Light.ttf') format('truetype'),
       url('../Fonts/SourceSansPro-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Button Pulsation in Webkit Browsers; This works on Windows but it didn't on my Mac */
@-webkit-keyframes buttonPulsation {
  0% {
    background-color: #7474F9;
    border-color: #ADADFF;
  }
  50% {
    background-color: #8D8DF5;
  }
  100% {
    background-color: #7474F9;
    border-color: #ADADFF;
  }
}
